{% extends 'base.html' %}
{% block content %}


<h3>Add An Experience</h3>
<form action="{% url 'experience_create' artist.id %}" method="POST">
  {% csrf_token %}
  
  <p><label>Experience Type: </label>{{ experience_form.experience_type }}</p>

  <div id="common-fields-1" style="display:none">
    <p><label>Your Thoughts: </label>{{ experience_form.user_review }}</p>
    <p><label>Date of Experience: </label>{{ experience_form.date_time }}</p>
  </div>
  
  <div id="music-fields" style="display:none">
    <p><label>Release Type: </label>{{ experience_form.music_type }}</p>
  </div>

  <div id="show-fields" style="display:none">
    <p><label>Venue Name: </label>{{ experience_form.show_venue_name }}</p>
  </div>

  <div id="common-fields-2" style="display:none">
    <p><label>Link: </label>{{ experience_form.link }}</p>
    <!-- Need to work out photo upload -->
  </div>

  

  <input type="submit" class="btn" value="Add Test">
</form>
<br>
<br>


<script>

function addHideAttribute(){
     document.getElementById('id_experience_type').setAttribute('onchange', 'experienceFormFormat(this.value)');
};

window.onload = addHideAttribute;

  function experienceFormFormat (val) {
    console.log(val)
    if(val === "MU") {
        document.getElementById('common-fields-1').style.display="block";
        document.getElementById('music-fields').style.display="block";
        document.getElementById('show-fields').style.display="none";
        document.getElementById('common-fields-2').style.display="block";
    } else if(val === "SH") {
        document.getElementById('common-fields-1').style.display="block";
        document.getElementById('music-fields').style.display="none";
        document.getElementById('show-fields').style.display="block";
        document.getElementById('common-fields-2').style.display="block";    
    } else {
        document.getElementById('common-fields-1').style.display="block";
        document.getElementById('music-fields').style.display="none";
        document.getElementById('show-fields').style.display="none";
        document.getElementById('common-fields-2').style.display="block";    
  }
}

</script>

{% endblock %}