{% extends 'base.html' %}
{% block content %}

<h1>Library</h1>

<div class="artist-index-ctr">
	{% for artist in object_list %}
	<div class="card-ctr">
		<div class="card">
			<a href="{% url 'artist_details' artist.id %}">
			  <div class="img-ctr">
				{% if artist.profile_photo %}
				<img src="{{ artist.profile_photo }}" class="artist-img">
				{% else %}
				<img src="https://i.imgur.com/d0fnZch.png%22%3E" class="artist-img">
				{% endif %}
			  </div>
			</a>
		</div>
		<div class="label">
			<p>{{ artist.name }}</p>
		</div>
		<div class="artist-CRUD">
			<a href="{% url 'artist_update' artist.id %}">edit</a>
			<div class="separator"></div>
			<a href="{% url 'artist_delete' artist.id %}">delete</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}