:root {
	--dark-blue: #054A91;
	--light-blue: #81A4CD;
	--accent: #F17300;
}

* {
	color: white;
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 
		'navbar main';
}

.navbar {
	grid-area: navbar;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--dark-blue);
	justify-content: space-between;
}

nav {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 1.2rem;
}

nav a {
	margin: .2em;
	width: fit-content;
}

nav a:hover {
	color: var(--accent);
}

/* HOME PAGE */

main {
	grid-area: main;
	height: 100%;
	background-color: var(--light-blue);
}

/* .sidebar {
	display: flex;
	grid-area: sidebar;
	height: 100%;
	color: var(--accent);
	background-color: var(--dark-blue);
	align-self: right;
} */

/* SIGN UP/LOG IN */

h1 {
	text-align: center;
}

.login-form label,
.signup-form label {
	color: black;
}

.login-form,
.signup-form {
	background-color: var(--accent);
	padding: 1rem;
	margin: 1rem;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
}

.login-form p,
.signup-form p {
	display: flex;
	flex-direction: column;
}

.login-form input,
.signup-form input {
	border: none;
	background-color: var(--accent);
	border-bottom: 2px solid white;
	height: 1.2rem;
	margin-bottom: .3rem;
}

.login-form input:focus,
.signup-form input:focus {
	outline: none !important;
}

.form-submit.btn {
	border: .2rem solid white ;
	background-color: var(--light-blue);
	padding: .2rem;
	height: 2rem;
	width: 5rem;
	cursor: pointer;
}