:root {
	--dark-blue: #054A91;
	--blue: #3e7cb1;
	--light-blue: #81A4CD;
	--accent: #F17300;
}

* {
	color: white;
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	display: flex;
}

header {
	width: 30%;
	max-width: 200px;
	height: 100%;
}

.navbar {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--dark-blue);
	justify-content: space-between;
}

nav {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 1.2rem;
}

nav a {
	margin: .2em;
	width: fit-content;
}

nav a:hover {
	color: var(--accent);
}

.blue-text {
	color: var(--dark-blue)
}

/* HOME PAGE */

main {
	width: 100%;
	height: 100%;
	background-color: var(--light-blue);
	margin-left: 1fr;
	overflow: scroll;
}

/* .sidebar {
	display: flex;
	grid-area: sidebar;
	height: 100%;
	color: var(--accent);
	background-color: var(--dark-blue);
	align-self: right;
} */

/* -------------SIGN UP/LOG IN------------- */

h1 {
	text-align: center;
}

.form label {
	color: black;
}

.form {
	background-color: var(--accent);
	padding: 1rem;
	margin: 1rem;
	box-shadow: 4px 4px 4px rgb(85, 85, 85);
}

.form p {
	display: flex;
	flex-direction: column;
}

.form input {
	border: none;
	background-color: var(--accent);
	border-bottom: 2px solid white;
	height: 1.5rem;
	margin-bottom: .3rem;
	margin-top: .5rem;
	font-size: 1.5rem;
}

.comment-form input:focus,
.exp-form input:focus,
.form input:focus {
	outline: none !important;
}

.form-submit.btn {
	background-color: var(--light-blue);
	padding: .2rem;
	height: 2rem;
	width: 5rem;
	cursor: pointer;
	font-size: 1.2rem;
}

/* -------------INDEX PAGE------------- */

.artist-index-ctr {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
}

.card-ctr {
	padding: .5rem .5rem .2rem .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.artist-img {
	height: 10rem;
	box-shadow: 5px 5px 5px rgb(85, 85, 85);
	max-height: 25rem;
	max-width: 25rem;
}

.label {
	margin-top: .2rem;
	background-color: var(--accent);
	box-shadow: 2px 2px 2px rgb(85, 85, 85);
	width: 100%;
	max-width: 10rem;
	text-align: center;
}

.label p {
	color: white;
	font-size: 1.2rem;
	margin: .5rem;
	word-wrap: normal;
}
.artist-CRUD {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.artist-CRUD a {
	width: 50%;
	margin: .2rem 0rem;
	padding: .2rem;
	font-size: .6rem;
	text-align: center;
	background-color: var(--accent);
	box-shadow: 2px 2px 2px rgb(85, 85, 85);
	cursor: pointer;
}

.separator {
	width: .15rem;
	height: 1.5rem;
}

/* -------------DETAILS PAGE------------- */

/* navbar section */
.artist-info-render {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.nav-artist-img img {
	height: 7rem;
	box-shadow: 2px 2px 2px rgb(36, 34, 34);
}

.nav-artist-name {
	margin-top: .6rem;
	background-color: var(--accent);
	width: 53%;
	text-align: center;
	padding: .2rem
}

/* media section */

.comments-ctr {
	background-color: var(--blue);
	box-shadow: 3px 3px 3px rgb(85, 85, 85);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 1.3rem;
	padding: .5rem;
}

.comment-form-ctr {
	width: 100%;
	background-color: var(--accent);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comment-form-ctr h3 {
	margin: .5rem;
	padding-top: .5rem;
}

.comment-form {
	width: 25rem;
	padding-bottom: .8rem;
}

.comment-form label {
	display: none;
}

#id_comment {
	color: var(--dark-blue);
	width: 100%;
}

.show-comments {
	width: 25rem;
	margin-top: 1rem;
}

.comment-div {
	margin: .5rem;
	padding: .4rem;
	border: .1rem solid white;
}

.comment-div p {
	margin: .2rem;
}

.comment-header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: .1rem solid white;
}

.comment-content {
	white-space: pre-line;
}

.comment-header p,
.comment-header a {
	font-size: .8rem;
}

.delete-comment {
	width: 2.5rem;
	display: flex;
	justify-content: space-between;
}

.delete-comment a:hover {
	color: var(--accent)
}

/* experience section */

.exp-ctr {
	margin: .3rem;
}

.show-exp-ctr,
.add-exp-ctr {
	display: flex;
	flex-direction: column;
	background-color: var(--accent);
	margin: 1rem;
	box-shadow: 3px 3px 3px rgb(85, 85, 85);
}

.show-exp-ctr {
	box-shadow: none;
	background-color: var(--light-blue);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

h3 {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

select {
	color: var(--dark-blue)
}

.exp-form {
	margin: 3rem;
	margin-top: 0;
}

.exp-form select,
.exp-form input,
.exp-form textarea {
	display: block;
	margin-top: .2rem;
	color: var(--dark-blue)
}

#id_user_review {
	width: 20rem;
	height: 3rem;
}

.form-submit.btn.comment-btn,
.form-submit.btn.exp-btn {
	font-size: 1rem;
	box-shadow: 2px 2px 2px rgb(36, 34, 34);
	color: white;
}

.exp-div {
	margin: .5rem .5rem;
	padding: .3rem;
	width: 28rem;
	background-color: var(--blue);
	box-shadow: 3px 3px 3px rgb(85, 85, 85);
	display: flex;
	flex-direction: column;
}

.exp-type,
.exp-date,
.exp-img,
.exp-note {
	margin: .3rem;
	padding: .2rem;
}

.exp-music,
.exp-venue {
	margin: 0rem;
	padding: 0rem;
}

.exp-type:hover,
.CRUD-exp a:hover {
	color: var(--accent)
}

.exp-top,
.CRUD-exp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .1rem .5rem;
}

.exp-mid,
.exp-img-ctr {
	display: flex;
	justify-content: center;
}

.exp-img {
	width: 18rem;
}

.CRUD-exp {
	justify-content: space-evenly;
	margin: .3rem;
	padding: .1rem;
	height: 100%;
	align-items: flex-end;
}

.edit-exp-form input {
	font-size: 1rem;
}

.edit-exp-form textarea {
	color: var(--dark-blue)
}

@media (min-width: 800px) {
	.exp-div {
		width: 22rem;
	}

	.exp-img {
		width: 12.75rem;
	}

	.exp-type,
	.exp-date,
	.exp-img,
	.exp-music,
	.exp-venue,
	.exp-note,
	.CRUD-exp {
		font-size: .9rem;
	}
}

@media (min-width: 1100px) {

	.comment-form {
		width: 20rem;
	}

	.comment-content {
		font-size: .9rem;
	}

	.artist-details-ctr {
		display: flex;
		flex-direction: column;
	}

	.details-bottom-div {
		display: flex;
		justify-content: center;
	}

	/* .media-ctr {
		width: 40%;
	}

	.exp-div {
		width: 60%;
	} */

	.exp-div {
		width: 18rem;
	}
	.exp-img {
		width: 8.25rem;
	}

	.exp-type,
	.exp-date,
	.exp-img,
	.exp-music,
	.exp-venue,
	.exp-note,
	.CRUD-exp {
		font-size: .9rem;
	}
}

/* -------------DELETE FORM------------- */

.confirm-delete-form {
	display: flex;
	justify-content: center;
}

.confirm-delete-btn {
	background-color: var(--accent);
	font-size: 1.3rem;
	cursor: pointer;
}